In [42]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [43]:
df_app = pd.read_csv('./databases/loyers 2018/indicateurs-loyers-appartements.csv', sep = ";", encoding = 'ansi')
df_app['Type local'] = "Appartement"
df_app.head()

,id_zone,INSEE,LIBGEO,DEP,REG,EPCI,TYPPRED,loypredm2,lwr.IPm2,upr.IPm2,R2adj,NBobs_maille,NBobs_commune,Type local
0,2362,1001,L'Abergement-Clémenciat,1,84,200069193,maille,"9,372335348","7,409663525","11,85487972","0,774249278",701,2,Appartement
1,2010,1002,L'Abergement-de-Varey,1,84,240100883,maille,"8,63555202","6,72107751","11,09535764","0,719598662",861,0,Appartement
2,1456,1004,Ambérieu-en-Bugey,1,84,240100883,commune,"10,07450708","7,865307059","12,90422511","0,670160882",2156,2156,Appartement
3,2362,1005,Ambérieux-en-Dombes,1,84,200042497,maille,"9,372335348","7,409663525","11,85487972","0,774249278",701,81,Appartement
4,2055,1006,Ambléon,1,84,200040350,maille,"8,96695486","7,101593346","11,3222872","0,752823051",842,3,Appartement

In [44]:
df_mai = pd.read_csv('./databases/loyers 2018/indicateurs-loyers-maisons.csv', sep = ";", encoding = 'ansi')
df_mai['Type local'] = "Maison"
df_mai = df_mai.rename(columns = {'Nbobs_maille': 'NBobs_maille'})
df_mai.head()

,id_zone,INSEE,LIBGEO,DEP,REG,EPCI,TYPPRED,loypredm2,lwr.IPm2,upr.IPm2,R2adj,NBobs_maille,NBobs_commune,Type local
0,1131,1001,L'Abergement-Clémenciat,1,84,200069193,maille,"8,191701105","6,585771255","10,1892344","0,730537021",586,13,Maison
1,364,1002,L'Abergement-de-Varey,1,84,240100883,maille,"7,441198704","5,672104712","9,76206205","0,708214655",643,18,Maison
2,806,1004,Ambérieu-en-Bugey,1,84,240100883,commune,"8,411183934","6,291931917","11,2442436","0,728003593",610,465,Maison
3,501,1005,Ambérieux-en-Dombes,1,84,200042497,maille,"9,039551135","6,861075317","11,90971983","0,677776765",569,53,Maison
4,459,1006,Ambléon,1,84,200040350,maille,"8,058264927","6,438139908","10,08608613","0,744073948",1641,9,Maison

In [45]:
df = pd.concat([df_app, df_mai], axis = 0, ignore_index=True)
df.shape

(70882, 14)

In [46]:
df.head()

,id_zone,INSEE,LIBGEO,DEP,REG,EPCI,TYPPRED,loypredm2,lwr.IPm2,upr.IPm2,R2adj,NBobs_maille,NBobs_commune,Type local
0,2362,1001,L'Abergement-Clémenciat,1,84,200069193,maille,"9,372335348","7,409663525","11,85487972","0,774249278",701,2,Appartement
1,2010,1002,L'Abergement-de-Varey,1,84,240100883,maille,"8,63555202","6,72107751","11,09535764","0,719598662",861,0,Appartement
2,1456,1004,Ambérieu-en-Bugey,1,84,240100883,commune,"10,07450708","7,865307059","12,90422511","0,670160882",2156,2156,Appartement
3,2362,1005,Ambérieux-en-Dombes,1,84,200042497,maille,"9,372335348","7,409663525","11,85487972","0,774249278",701,81,Appartement
4,2055,1006,Ambléon,1,84,200040350,maille,"8,96695486","7,101593346","11,3222872","0,752823051",842,3,Appartement

In [49]:
df[df.columns[7:11]] = df[df.columns[7:11]].apply(lambda x: x.str.replace(',','.'))
df[df.columns[7:11]] = df[df.columns[7:11]].astype(float)
df.head()

,id_zone,INSEE,LIBGEO,DEP,REG,EPCI,TYPPRED,loypredm2,lwr.IPm2,upr.IPm2,R2adj,NBobs_maille,NBobs_commune,Type local
0,2362,1001,L'Abergement-Clémenciat,1,84,200069193,maille,9.372335,7.409664,11.854880,0.774249,701,2,Appartement
1,2010,1002,L'Abergement-de-Varey,1,84,240100883,maille,8.635552,6.721078,11.095358,0.719599,861,0,Appartement
2,1456,1004,Ambérieu-en-Bugey,1,84,240100883,commune,10.074507,7.865307,12.904225,0.670161,2156,2156,Appartement
3,2362,1005,Ambérieux-en-Dombes,1,84,200042497,maille,9.372335,7.409664,11.854880,0.774249,701,81,Appartement
4,2055,1006,Ambléon,1,84,200040350,maille,8.966955,7.101593,11.322287,0.752823,842,3,Appartement

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70882 entries, 0 to 70881
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id_zone        70882 non-null  object
 1   INSEE          70882 non-null  object
 2   LIBGEO         70882 non-null  object
 3   DEP            70882 non-null  object
 4   REG            70882 non-null  int64
 5   EPCI           70882 non-null  object
 6   TYPPRED        70882 non-null  object
 7   loypredm2      70882 non-null  float64
 8   lwr.IPm2       70882 non-null  float64
 9   upr.IPm2       70882 non-null  float64
 10  R2adj          70882 non-null  float64
 11  NBobs_maille   70882 non-null  int64
 12  NBobs_commune  70882 non-null  int64
 13  Type local     70882 non-null  object
dtypes: float64(4), int64(3), object(7)
memory usage: 7.6+ MB

In [51]:
df[df.duplicated(subset = ['INSEE', 'Type local']) == True].count()

id_zone          0
INSEE            0
LIBGEO           0
DEP              0
REG              0
EPCI             0
TYPPRED          0
loypredm2        0
lwr.IPm2         0
upr.IPm2         0
R2adj            0
NBobs_maille     0
NBobs_commune    0
Type local       0
dtype: int64

In [52]:
df['INSEE'] = df['INSEE'].str.zfill(5)
df.head()

,id_zone,INSEE,LIBGEO,DEP,REG,EPCI,TYPPRED,loypredm2,lwr.IPm2,upr.IPm2,R2adj,NBobs_maille,NBobs_commune,Type local
0,2362,01001,L'Abergement-Clémenciat,1,84,200069193,maille,9.372335,7.409664,11.854880,0.774249,701,2,Appartement
1,2010,01002,L'Abergement-de-Varey,1,84,240100883,maille,8.635552,6.721078,11.095358,0.719599,861,0,Appartement
2,1456,01004,Ambérieu-en-Bugey,1,84,240100883,commune,10.074507,7.865307,12.904225,0.670161,2156,2156,Appartement
3,2362,01005,Ambérieux-en-Dombes,1,84,200042497,maille,9.372335,7.409664,11.854880,0.774249,701,81,Appartement
4,2055,01006,Ambléon,1,84,200040350,maille,8.966955,7.101593,11.322287,0.752823,842,3,Appartement

In [53]:
df = df.drop(columns = {'id_zone', 'EPCI'})

In [54]:
df.head()

,INSEE,LIBGEO,DEP,REG,TYPPRED,loypredm2,lwr.IPm2,upr.IPm2,R2adj,NBobs_maille,NBobs_commune,Type local
0,01001,L'Abergement-Clémenciat,1,84,maille,9.372335,7.409664,11.854880,0.774249,701,2,Appartement
1,01002,L'Abergement-de-Varey,1,84,maille,8.635552,6.721078,11.095358,0.719599,861,0,Appartement
2,01004,Ambérieu-en-Bugey,1,84,commune,10.074507,7.865307,12.904225,0.670161,2156,2156,Appartement
3,01005,Ambérieux-en-Dombes,1,84,maille,9.372335,7.409664,11.854880,0.774249,701,81,Appartement
4,01006,Ambléon,1,84,maille,8.966955,7.101593,11.322287,0.752823,842,3,Appartement

In [55]:
df.to_csv('05 - loyers_2018_base_full.csv', encoding = 'UTF-8', index = False)

In [56]:
df = df[['INSEE', 'Type local', 'loypredm2']]
df.head()

   INSEE   Type local  loypredm2
0  01001  Appartement   9.372335
1  01002  Appartement   8.635552
2  01004  Appartement  10.074507
3  01005  Appartement   9.372335
4  01006  Appartement   8.966955

In [70]:
df2 = pd.pivot_table(df, values = 'loypredm2', index = ['INSEE'], columns = ['Type local'], aggfunc = np.mean).reset_index()
df2 = df2.rename(columns = {'Appartement': 'loy_appart', 'Maison': 'loy_maison'})
df2.head()

Type local  INSEE  loy_appart  loy_maison
0           01001    9.372335    8.191701
1           01002    8.635552    7.441199
2           01004   10.074507    8.411184
3           01005    9.372335    9.039551
4           01006    8.966955    8.058265

In [71]:
df2.to_csv('05 - loyers_2018_par_commune_typelocal.csv', encoding = 'UTF-8', index = False)