In [1]:
import pandas as pd
import numpy as np

In [2]:
df_bpe = pd.read_csv('bpe_with_gps.csv')
df_bpe.head()

C:\Users\olivier\anaconda\envs\Geo\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (1,2) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Unnamed: 0,DEP,DEPCOM,DCIRIS,AN,TYPEQU,LAMBERT_X,LAMBERT_Y,QUALITE_XY,lat,lon
0,27,01,01053,01053_0402,2019,D106,871098.5,6569397.6,Mauvaise,5.219245,46.202783
1,28,01,01053,01053_0402,2019,D101,871098.5,6569397.6,Mauvaise,5.219245,46.202783
2,29,01,01053,01053_0402,2019,D111,871098.5,6569397.6,Mauvaise,5.219245,46.202783
3,30,01,01053,01053_0402,2019,D112,871098.5,6569397.6,Mauvaise,5.219245,46.202783
4,31,01,01034,01034_0102,2019,D101,908659.7,6521503.8,Bonne,5.684976,45.761208

In [3]:
df_bpe['vraie_lat'] = df_bpe['lon']
df_bpe['vraie_lon'] = df_bpe['lat']
df_bpe.head()

,Unnamed: 0,DEP,DEPCOM,DCIRIS,AN,TYPEQU,LAMBERT_X,LAMBERT_Y,QUALITE_XY,lat,lon,vraie_lat,vraie_lon
0,27,01,01053,01053_0402,2019,D106,871098.5,6569397.6,Mauvaise,5.219245,46.202783,46.202783,5.219245
1,28,01,01053,01053_0402,2019,D101,871098.5,6569397.6,Mauvaise,5.219245,46.202783,46.202783,5.219245
2,29,01,01053,01053_0402,2019,D111,871098.5,6569397.6,Mauvaise,5.219245,46.202783,46.202783,5.219245
3,30,01,01053,01053_0402,2019,D112,871098.5,6569397.6,Mauvaise,5.219245,46.202783,46.202783,5.219245
4,31,01,01034,01034_0102,2019,D101,908659.7,6521503.8,Bonne,5.684976,45.761208,45.761208,5.684976

In [4]:
df_bpe = df_bpe.drop(columns = {'lat', 'lon'})
df_bpe.head()

,Unnamed: 0,DEP,DEPCOM,DCIRIS,AN,TYPEQU,LAMBERT_X,LAMBERT_Y,QUALITE_XY,vraie_lat,vraie_lon
0,27,01,01053,01053_0402,2019,D106,871098.5,6569397.6,Mauvaise,46.202783,5.219245
1,28,01,01053,01053_0402,2019,D101,871098.5,6569397.6,Mauvaise,46.202783,5.219245
2,29,01,01053,01053_0402,2019,D111,871098.5,6569397.6,Mauvaise,46.202783,5.219245
3,30,01,01053,01053_0402,2019,D112,871098.5,6569397.6,Mauvaise,46.202783,5.219245
4,31,01,01034,01034_0102,2019,D101,908659.7,6521503.8,Bonne,45.761208,5.684976

In [5]:
df_bpe = df_bpe.rename(columns = {'vraie_lat': 'lat', 'vraie_lon': 'lon'})
df_bpe.head()

,Unnamed: 0,DEP,DEPCOM,DCIRIS,AN,TYPEQU,LAMBERT_X,LAMBERT_Y,QUALITE_XY,lat,lon
0,27,01,01053,01053_0402,2019,D106,871098.5,6569397.6,Mauvaise,46.202783,5.219245
1,28,01,01053,01053_0402,2019,D101,871098.5,6569397.6,Mauvaise,46.202783,5.219245
2,29,01,01053,01053_0402,2019,D111,871098.5,6569397.6,Mauvaise,46.202783,5.219245
3,30,01,01053,01053_0402,2019,D112,871098.5,6569397.6,Mauvaise,46.202783,5.219245
4,31,01,01034,01034_0102,2019,D101,908659.7,6521503.8,Bonne,45.761208,5.684976

In [6]:
df_bpe['code_iris'] = df_bpe['DCIRIS'].str.replace('_', '')
df_bpe.head()

,Unnamed: 0,DEP,DEPCOM,DCIRIS,AN,TYPEQU,LAMBERT_X,LAMBERT_Y,QUALITE_XY,lat,lon,code_iris
0,27,01,01053,01053_0402,2019,D106,871098.5,6569397.6,Mauvaise,46.202783,5.219245,010530402
1,28,01,01053,01053_0402,2019,D101,871098.5,6569397.6,Mauvaise,46.202783,5.219245,010530402
2,29,01,01053,01053_0402,2019,D111,871098.5,6569397.6,Mauvaise,46.202783,5.219245,010530402
3,30,01,01053,01053_0402,2019,D112,871098.5,6569397.6,Mauvaise,46.202783,5.219245,010530402
4,31,01,01034,01034_0102,2019,D101,908659.7,6521503.8,Bonne,45.761208,5.684976,010340102

In [9]:
df_bpe = df_bpe.rename(columns = {'code_iris': 'code_iris_clean'})

In [12]:
df_bpe['code_iris_clean'] = df_bpe['code_iris_clean'].apply(lambda x: x + "0000" if len(x) == 5 else x)

In [15]:
df_bpe['code_iris_clean'].value_counts()

971030105    1899
751083003    1644
751207701    1252
971200104    1157
972090101    1069
             ...
312220000       1
084550000       1
513710000       1
255510000       1
520940000       1
Name: code_iris_clean, Length: 48777, dtype: int64

In [17]:
df_bpe.head()

  DEP DEPCOM    AN TYPEQU QUALITE_XY        lat       lon code_iris_clean
0  01  01053  2019   D106   Mauvaise  46.202783  5.219245       010530402
1  01  01053  2019   D101   Mauvaise  46.202783  5.219245       010530402
2  01  01053  2019   D111   Mauvaise  46.202783  5.219245       010530402
3  01  01053  2019   D112   Mauvaise  46.202783  5.219245       010530402
4  01  01034  2019   D101      Bonne  45.761208  5.684976       010340102

In [16]:
df_bpe = df_bpe.drop(columns = {'Unnamed: 0', 'LAMBERT_X', 'LAMBERT_Y', 'DCIRIS'})
df_bpe.head()

KeyError: "['Unnamed: 0' 'LAMBERT_X' 'DCIRIS' 'LAMBERT_Y'] not found in axis"

In [20]:
df_bpe.to_csv('bpe_with_gps_2.csv', index = False)