In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('databases/export_gps_iris_0-10000.csv')
df.head()

,Unnamed: 0,No voie,Type de voie,Voie,Code postal,Commune,Ville,Adresse,INSEE_COM,Commune_Lat,Commune_Lon,code_iris,lon,lat
0,0,NaN,NaN,FORTUNAT,1250.0,CEYZERIAT,1250 CEYZERIAT,FORTUNAT 1250 CEYZERIAT,1072.0,46.183217,5.320072,10720000.0,5.323007,46.173753
1,1,NaN,NaN,TERRES DES CINQ SAULES,1290.0,LAIZ,1290 LAIZ,TERRES DES CINQ SAULES 1290 LAIZ,1203.0,46.246992,4.899335,12030000.0,4.892457,46.246330
2,2,NaN,NaN,BOIS DU CHAMP RION,1290.0,LAIZ,1290 LAIZ,BOIS DU CHAMP RION 1290 LAIZ,1203.0,46.246992,4.899335,12030000.0,4.892457,46.246330
3,3,NaN,NaN,EN COROBERT,1290.0,LAIZ,1290 LAIZ,EN COROBERT 1290 LAIZ,1203.0,46.246992,4.899335,12030000.0,4.881913,46.248368
4,4,NaN,RUE,DE LA CHARTREUSE,1960.0,PERONNAS,1960 PERONNAS,RUE DE LA CHARTREUSE 1960 PERONNAS,1289.0,46.171190,5.218022,12890102.0,5.227583,46.184979

In [3]:
df_bpe = pd.read_csv('databases/bpe_with_gps_2.csv')
df_bpe.head()

C:\Users\olivier\anaconda\envs\Geo\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (1,2,8) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Unnamed: 0,DEP,DEPCOM,AN,TYPEQU,QUALITE_XY,lat,lon,code_iris
0,0,01,01053,2019,D106,Mauvaise,46.202783,5.219245,010530402
1,1,01,01053,2019,D101,Mauvaise,46.202783,5.219245,010530402
2,2,01,01053,2019,D111,Mauvaise,46.202783,5.219245,010530402
3,3,01,01053,2019,D112,Mauvaise,46.202783,5.219245,010530402
4,4,01,01034,2019,D101,Bonne,45.761208,5.684976,010340102

In [16]:
df_bpe['gps'] = df_bpe[['lat', 'lon']].apply(tuple, axis=1)
df_bpe.head()

,Unnamed: 0,DEP,DEPCOM,AN,TYPEQU,QUALITE_XY,lat,lon,code_iris,gps
0,0,01,01053,2019,D106,Mauvaise,46.202783,5.219245,010530402,"(46.2027830164628, 5.219245214489395)"
1,1,01,01053,2019,D101,Mauvaise,46.202783,5.219245,010530402,"(46.2027830164628, 5.219245214489395)"
2,2,01,01053,2019,D111,Mauvaise,46.202783,5.219245,010530402,"(46.2027830164628, 5.219245214489395)"
3,3,01,01053,2019,D112,Mauvaise,46.202783,5.219245,010530402,"(46.2027830164628, 5.219245214489395)"
4,4,01,01034,2019,D101,Bonne,45.761208,5.684976,010340102,"(45.761208102940834, 5.684976128470461)"

In [17]:
from geopy.distance import geodesic

df_test = df[df.index <= 5]
df_test['gps'] = df_test[['lat', 'lon']].apply(tuple, axis=1)
df_test.head()

<ipython-input-17-f97b19e83399>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test['gps'] = df_test[['lat', 'lon']].apply(tuple, axis=1)

,Unnamed: 0,No voie,Type de voie,Voie,Code postal,Commune,Ville,Adresse,INSEE_COM,Commune_Lat,Commune_Lon,code_iris,lon,lat,gps
0,0,NaN,NaN,FORTUNAT,1250.0,CEYZERIAT,1250 CEYZERIAT,FORTUNAT 1250 CEYZERIAT,1072.0,46.183217,5.320072,10720000.0,5.323007,46.173753,"(46.1737528, 5.3230074)"
1,1,NaN,NaN,TERRES DES CINQ SAULES,1290.0,LAIZ,1290 LAIZ,TERRES DES CINQ SAULES 1290 LAIZ,1203.0,46.246992,4.899335,12030000.0,4.892457,46.246330,"(46.2463304, 4.8924572)"
2,2,NaN,NaN,BOIS DU CHAMP RION,1290.0,LAIZ,1290 LAIZ,BOIS DU CHAMP RION 1290 LAIZ,1203.0,46.246992,4.899335,12030000.0,4.892457,46.246330,"(46.2463304, 4.8924572)"
3,3,NaN,NaN,EN COROBERT,1290.0,LAIZ,1290 LAIZ,EN COROBERT 1290 LAIZ,1203.0,46.246992,4.899335,12030000.0,4.881913,46.248368,"(46.2483684, 4.8819132)"
4,4,NaN,RUE,DE LA CHARTREUSE,1960.0,PERONNAS,1960 PERONNAS,RUE DE LA CHARTREUSE 1960 PERONNAS,1289.0,46.171190,5.218022,12890102.0,5.227583,46.184979,"(46.1849787, 5.2275831)"

In [24]:
df_test['gps'][0]

(46.1737528, 5.3230074)

In [22]:
df_bpe['dist'] = df_bpe['gps'].apply(lambda x: geodesic(x, df_test['gps'][0]).kilometers)
df_bpe.head()

,Unnamed: 0,DEP,DEPCOM,AN,TYPEQU,QUALITE_XY,lat,lon,code_iris,gps,dist
0,0,01,01053,2019,D106,Mauvaise,46.202783,5.219245,010530402,"(46.2027830164628, 5.219245214489395)",8.635970340262896 km
1,1,01,01053,2019,D101,Mauvaise,46.202783,5.219245,010530402,"(46.2027830164628, 5.219245214489395)",8.635970340262896 km
2,2,01,01053,2019,D111,Mauvaise,46.202783,5.219245,010530402,"(46.2027830164628, 5.219245214489395)",8.635970340262896 km
3,3,01,01053,2019,D112,Mauvaise,46.202783,5.219245,010530402,"(46.2027830164628, 5.219245214489395)",8.635970340262896 km
4,4,01,01034,2019,D101,Bonne,45.761208,5.684976,010340102,"(45.761208102940834, 5.684976128470461)",53.756432180997734 km

In [23]:
df_bpe.shape

(2471192, 11)